<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <h6 class="ion-text-center">&#64;capacitor-community/video-recorder</h6>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"
  [ngClass]="{ isRecording: isRecording || initialized }">
  <div *ngIf="showVideos && videos.length; else NoVideos" style="display: flex; flex-direction: column; justify-content: center; margin: 16px 0px;">
    <div *ngFor="let video of videos">
      <video [height]="200" [src]="video.url" controls></video>
      <div *ngIf="video.metadata">
        <ion-list>
          <ion-item>
            <ion-label>Video Metadata</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Size</ion-label>
            <ion-label>{{ video.metadata.size }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Duration</ion-label>
            <ion-label>{{ video.metadata.duration }}</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
  <ng-template #NoVideos>
    <div *ngIf="showVideos" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <ion-icon name="videocam-off-outline" style="font-size: 100px;"></ion-icon>
      <ion-label class="ion-text-center">No Videos</ion-label>
      <ion-label class="ion-text-center">Record some videos and come back later</ion-label>
    </div>
  </ng-template>
</ion-content>
<ion-footer style="background-color: white;">
  <div class="duration">
    <ion-label>{{ duration }}</ion-label>
  </div>
  <div class="footer">
    <ion-button *ngIf="!isRecording" (click)="startRecording()">
      <ion-icon  name="videocam"></ion-icon>
    </ion-button>
    <ion-button *ngIf="isRecording" (click)="stopRecording()">
      <ion-icon name="stop-circle-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="!isRecording" (click)="flipCamera()">
      <ion-icon name="camera-reverse-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="isFlashAvailable && isFlashEnabled && cameraSide === CAMERA_BACK && !isRecording" (click)="toggleFlash()">
      <ion-icon name="flash-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="isFlashAvailable && !isFlashEnabled && cameraSide === CAMERA_BACK && !isRecording" (click)="toggleFlash()">
      <ion-icon name="flash-off-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="!isRecording" (click)="toggleVideos()">
      <ion-icon [name]="showVideos ? 'folder-open-outline' : 'folder-outline'"></ion-icon>
    </ion-button>
    <ion-button
      *ngIf="!isRecording"
      class="text-center text-sm w-1/2 rounded-2xl p-2 app-button"
      (click)="settingsPopover.present()">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-button>
    <ion-popover #settingsPopover>
      <ng-template>
        <ion-list mode="md">
          <ion-item
            button
            *ngFor="let quality of videoQualityMap"
            (click)="settingsPopover.dismiss(); videoQualityChanged(quality.command)">
            <ion-label>{{ quality.label }}</ion-label>
          </ion-item>
        </ion-list>
      </ng-template>
    </ion-popover>
  </div>
</ion-footer>
